*{
	margin: 0;padding: 0; box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

main{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)) ,url('../images/slider.jpeg');
	background-size: cover;
}

nav{
	height: 15vh;width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

nav .logo{
	text-align: center;
	width: 25%;
}

nav .menu{
	display: flex;
	justify-content: space-around;
	width: 40%;	
}

/*dropdown style*/


.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 30px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav .menu .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown:hover .dropdown-content {
  display: block;
}
nav .menu a{
	text-decoration: none;
	color: white;
	width: 25%;
	font-weight: bold;
}

main{
	display: flex;
	justify-content: space-around;
	height: 85vh;
	align-items : center;
	width: 100%;
	text-align: center;
}

section{

}

section h3{
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 1px 1px 2px black;
	color: white;
}

section h1{
	font-weight: 700;
	font-size: 45px;
	text-shadow: 2px 1px 5px black;
	color: white;
	margin: 30px 0 20px 0;
}

section a{
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	outline: none;
	border-radius: 4px;
	padding: 12px 30px;
	word-spacing: 2px;
	transition: all .5s ease;
	margin: 20px;
}

section .btn1{
	color: black;
	background-color: white;
}
section .btn1:hover{
	color: black;
	background-color: #29fffc;
}
section .btn2{
	color: black;
	background-color: #29fffc;
}

section .btn2:hover{
	color: black;
	background-color: white;
}

.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #29fffc;
}

@keyframes changetext{
	0%{content: "web application";}
	25%{content: "Desktop applcstion";}
	50%{content: "mobile application";}
	75%{content: "security";}
	100%{content: "network";}

}


/*sign up modal design*/
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("../images/cd-icon-username.png");
  background-size: 22px;
}
.cd-form label.cd-email {
  background-image: url("../images/cd-icon-email.png");
    background-size: 22px;

}
.cd-form label.cd-password {
  background-image: url("../images/cd-icon-password.png");
    background-size: 20px;

}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form button[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-decoration: none;
}
.no-touch .cd-form button[type=submit]:hover, .no-touch .cd-form button[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-form button[type=submit] {
    padding: 16px;
    width: 100%;
    
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}

.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../images/cd-icon-close.png") no-repeat center center;
  background-size: 22px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

/*end sign up modal*/

.div-success{
      color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 10px;
}

.div-danger{
  color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
    padding: 10px;
}

/*search style*/
.s1{
  width: 80%;
}
.inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.inner-form .input-field {
  margin-right: 30px;
  height: 68px;
}

.inner-form .input-field input {
  height: 150%;
  background: #fff;
  border-radius: .5px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
}

.inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}



.inner-form .input-field.third-wrap {
  width: 50%;
  margin-right: 0;
}

.inner-form .input-field.third-wrap .btn-search {
  height: 150%;
  width: 100%;
  background: #4272d7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
}

.inner-form .input-field.third-wrap .btn-search:hover {
  background: #2d62d3;
}


  
  .inner-form .input-field {
    height: 50px;
    margin: 20px;
  }
}


  .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .inner-form .input-field {
    margin-right: 0;
  }
  .inner-form .input-field input {
    padding: 5px 15px;
    font-size: 16px;
  }
  .inner-form .input-field.first-wrap {
    width: 100%;
    /*margin-bottom: 20px;*/
  }
  .inner-form .input-field.second-wrap {
    width: calc(50% - 10px);
    min-width: auto;
  }
  .inner-form .input-field.third-wrap {
    width: calc(30% - 10px);
  }
  .inner-form .input-field.third-wrap .btn-search {
    font-size: 16px;
  }


.grid-item {
  padding: 20px;
  /*font-size: 30px;*/
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
}

/* Pagination */
.custom-pagination {
  font-size: 26px;
    align-items: center;
    margin-right: 300px;
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
     }
     .custom-pagination .page-item {
      list-style: none;
     }
  .custom-pagination .page-item .page-link {
    color: #000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0 2px;
    text-align: center; 
    text-decoration: none;
  }
    .custom-pagination .page-item .page-link:active, .custom-pagination .page-item .page-link:focus, .custom-pagination .page-item .page-link:hover {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .custom-pagination .page-item span.page-link {
    color: #6c757d;
    letter-spacing: .1rem; }
    .custom-pagination .page-item span.page-link:hover {
      background: none !important; }
  .custom-pagination.pagination-primary .page-item.active .page-link {
    background-color: #f34573;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(243, 69, 115, 0.2);
    box-shadow: 0 2px 5px 0 rgba(243, 69, 115, 0.2); }
  .custom-pagination.pagination-secondary .page-item.active .page-link {
    background-color: #6c757d;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(108, 117, 125, 0.2);
    box-shadow: 0 2px 5px 0 rgba(108, 117, 125, 0.2); }
  .custom-pagination.pagination-success .page-item.active .page-link {
    background-color: #7fbb00;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(127, 187, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(127, 187, 0, 0.2); }
  .custom-pagination.pagination-danger .page-item.active .page-link {
    background-color: #ec1c24;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(236, 28, 36, 0.2);
    box-shadow: 0 2px 5px 0 rgba(236, 28, 36, 0.2); }
  .custom-pagination.pagination-warning .page-item.active .page-link {
    background-color: #ffd900;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(255, 217, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(255, 217, 0, 0.2); }
  .custom-pagination.pagination-info .page-item.active .page-link {
    background-color: #1cc7d0;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(28, 199, 208, 0.2);
    box-shadow: 0 2px 5px 0 rgba(28, 199, 208, 0.2); 
    padding: 15px;}